:root{

--q-primary:#2563eb;
--q-primary-hover:#1d4ed8;

--q-secondary:#0f172a;

--q-success:#10b981;
--q-warning:#f59e0b;
--q-danger:#ef4444;

--q-bg:#ffffff;
--q-surface:#f8fafc;
--q-card:#ffffff;

--q-border:#e2e8f0;

--q-text:#0f172a;
--q-text-secondary:#475569;

}

.dark{

--q-bg:#020617;

--q-surface:#0f172a;

--q-card:#111827;

--q-border:#1e293b;

--q-text:#ffffff;

--q-text-secondary:#94a3b8;

}
